<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Payment was Successfull</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
	<h2 class="text-success text-center mt-4">Payment was successfully</h2>
	<hr>
	<p class="text-center lead p-3">Your payment was successfull by  PAYPAL payment gateway.</p>
	<a href="{% url 'home' %}" class="btn btn-primary">Back to Home Page</a>
</body>
</html>